:root {
    --primary-font-color: #212121;
    --primary-backgroudg-color: #2F303A;
    --primary-accent-color: #2196F3;
    --secondary-background-color: #E5E5E5;
    --secondary-font-color: #757575;
    --third-backgroud-color: #F5F4FA;
}
























/* Футер */
.footer {
    background-color: #2F303A;
}

.address {
    color: #FFFFFF;
}

.address-link {
    color: rgba(255, 255, 255, 0.6);
}